@import url('https://fonts.googleapis.com/css2?family=Pliant:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
html{
  height: 100%;
}
body{
    background: linear-gradient(360deg,hsla(183, 100%, 50%, 0.5),hsla(214, 99%, 34%, 0.5)),url(imagesource/library.jpg);
    background-size: cover;
}
.eng{
    width: 1920px;
}
.welcome{
    z-index: 1;
    color: white;
    text-align: center;
    opacity: 0;
    animation-duration: 1s;
    animation-name: appear;
    font-family: "Pliant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
#wel{
    font-size: 50px;
    animation-fill-mode: forwards;
}

@keyframes appear{
    from{
        opacity: 0;
        margin-top: 10%;
        font-size: 1px;
        text-align: center;
    }
    to{

        opacity: 1;
    }
}
#okl{
    font-size: 30px;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.selection{
    vertical-align: top;
    height: 400px;
    margin-left: 1%;
    display: inline-block;
    border: 10px, black, solid;
    border-radius: 30px;
    background: linear-gradient(white,rgb(173, 173, 173));
    text-align: center;
    width: 30%;
    margin-right: 0.7%;
    animation-duration: 1s;
    animation-name: appear;
    animation-fill-mode: forwards;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    opacity: 0;
}
.pls{
    width: 400px;
    text-align: center;
    padding-left: 5%;
}
.butti{
    border: 3px, black, solid;
    border-radius: 20px;
    padding: 5px 5px;
    background: black;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    user-select: none;
}
.butti:hover{
    background: linear-gradient(rgb(67, 67, 67),black);
    transform: scale(1.5);
}
#one{
    animation-delay: 2s;
}
#two{
    animation-delay: 3s;
}
#three{
    animation-delay: 4s;
}